*{
  margin: 0;
  font-family: 'Hind Guntur', sans-serif;
}

html, body{
  background-color:#FDFDFD;
  width:100%;
}

.menu_principal{
  background-color: #FDFDFD;
  height: 130px;
  width: 100%;
  position:fixed;
  
  display: grid, inline-block, center;
  grid-template-columns: repeat(22, minmax(0, 1fr));

  box-shadow: 0px 3px 6px rgba(152, 152, 152, 0.2);
  top:0;
  z-index:100;
}

.menu{
  display:flex;
  
  align-items: center;
  justify-content: center;
  grid-row: 1;

  
  margin-right: 129px;

  padding-top: 1.2%;
  width:100%;
  column-gap:minmax(15px,53px);
  flex-wrap: wrap;
  grid-column: 6 / 17
}

.menu ul{
  justify-content: space-between;
  display: flex;
  padding-left: 0;
  gap:90px;
}

.menu ul li{
  list-style: none;
  display:inline;
  justify-content: space-between;
}

.logo{
  display: inline-block;
  width: 7.1%;
  margin-right: 110px;
  padding-left: 5%;
}

.categoria1 {
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  position:relative;
}

categoria1, a:hover{
  color:#28284A;
  opacity:100%;
}

.categoria2{
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  margin-right: 110px;
  position:relative;
}

categoria2, a:hover{
  color:#28284A;
  opacity:100%;
}

.busca{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.carrinho{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.perfil{
  display: inline-block;
  grid-row:1;
  width: 26px;
  background: none;
  border: none;
  margin-right: 5%;
}

/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria1::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria1:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}



/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria2::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria2:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}

/*CABOU O MENU*/


.header_illusbyjo{
  display:flex;
  background-image: url("header/header\ artista.png");
  background-repeat: no-repeat;
  width: 100%;
  height:454px;
  margin-top: 130px;
  justify-content: center;
}

.alinhar_header{
  display:flex;
  flex-direction: column;
  padding-top:2%;
  align-items: center;
  gap:0%;
}

.foto_perfil{
  width:182px;
  height:182px;
  padding-bottom:30px;
}

.nome_artista{
  font-weight: 700;
  font-size:40px;
  color:#FDFDFD;
  line-height: 50px;
  padding-bottom:6px;
}

.ocupacao{
  font-weight: 500;
  font-size:20px;
  color:#FDFDFD;
  padding-bottom:32px;
}

.redes_sociais{
  display:inline-flex;
  gap:55px;
}


/* produtos do artista*/

.produtos_artista{
  display:flex;
  margin-left:14%;
  margin-top:50px;
  flex-direction: column;
}

.caixa-item-cartoes {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: ;
  }
  
.caixa-item-cartoes > div {
  flex: 0 1 198px;
  text-align: center;
  margin: 20px 0;
  font-family: 'Hind Guntur', sans-serif;
  }
  
.caixa-item-cartoes > div img {
  width: 198px;
  border-radius: 16px;
    
  }

.fileira_cartoes{
  display:flex;
  flex-direction:row;
  gap:100px;
}

.medida_cartao{
  width:198px;
}

/*estilizar preço*/
.preco {
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  margin: 10px 0;
  font-weight: 600;
  color: #28284A;
}

/*estilizar o nome do produto*/
.nome_produto{ 
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #28284A;  
}


/*estilizar o número de parcelas (exemplo: 2x por R$3,90)*/
.parcelar{   
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
  color: #28284A;
}

.titulo_secao{
  color: #28284A;
  font-weight: 600;
  font-size: 28px;
}

.outros_trabalhos{
  display:flex;
  margin-left:14%;
  margin-top:50px;
  flex-direction: column;
}

.artes{
  display:flex;
  gap:4%;
  flex-direction:column;
  flex-wrap: wrap;
  margin-top:30px;
}

.arte_linha{
  display:flex;
  margin-bottom:4%;
  flex-direction:row;
  gap:4%;
}

/* rodape*/

.rodape{
  width:100%;
  height: 1020px;
  margin-top: 7%;
  background-color: #FDFDFD;
}

.rodape-items{
  display:flex;
  flex-direction: column;
  padding-top:3%;
}

.rodape-cima{
  display:flex;
  justify-content: center;
}

.rodape-coluna1 {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  gap: 20px;
}

.rodape-coluna1 a{
  text-decoration: none;
  color: #28284A;
}

.rodape-coluna2 {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  gap: 20px;
  margin-inline: 22%;
}

.rodape-coluna2 a{
  text-decoration: none;
  color: #28284A;
}

#rodape-coluna-titulo{
  letter-spacing: 0.2em;
  font-weight: 500;
  color: #875EC3;
}

.ropade-coluna-texto{
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  text-decoration: none;
  gap: 50px;
}

.coluna-contato-alinhar-item{
  display:flex;
  flex-direction: column;
}

#linha-rodape1{
  border-color: #F7ECFF;
  margin-top: 60px;
  margin-bottom: 60px;
}

.receba-por-email{
  display: flex;
  flex-direction: column;
  background-color: #F7ECFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#receba-promos-novidades{
  margin-left: 16.5%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #4B04AE;
}

.cadastrar-rodape{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.cadastrar-rodape-digitar input[type=text]{
  width:420px;
  height:40px;
  border:0;
  border-bottom: 3px solid #875EC3;
  padding: 0 5px;
  padding-top:4px;
  font-size: 19px;
  box-sizing:border-box;
  outline:0;
  color: #58178A;
  background-color: #F7ECFF;
}

.cadastrar-rodape-digitar input::placeholder{
  color:#875EC3;
}

.cadastrar-rodape-botao{
  display: inline-block;
  background-color: #8854D3;
  color: #FDFDFD;
  font-weight: 600;
  text-decoration:none;
  width:250px;
  height: 66px;
  border-radius: 38px;
  font-size: 24px;
  text-align:center;
  line-height: 74px;
  transition: 0.15s ease-in-out;
}

.cadastrar-rodape-botao:active{
  background-color: #4B04AE;
  transition: 0.15s ease-in-out;
}

.cadastrar-rodape-botao:hover{
  color: #FDFDFD;
}

.redes-sociais-rodape{
  display:flex;
  gap:8%;
  margin-top: 3%;
  justify-content: center;
}

.redes-sociais-rodape img{
  width: 45px;
  height: 45px;
}

#linha-rodape2{
  border-color: #F7ECFF;
  margin-top: 60px;
  margin-bottom: 20px;
}

#copyright-rodape{
  color:#9363ca;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5%;
  margin-bottom: 20px;
}