*{
  margin: 0;
  font-family: 'Hind Guntur', sans-serif;
}

html, body{
  background-color:#FDFDFD;
  width:100%;
}

.menu_principal{
  background-color: #FDFDFD;
  height: 130px;
  width: 100%;
  position:fixed;
  
  display: grid, inline-block, center;
  grid-template-columns: repeat(22, minmax(0, 1fr));

  box-shadow: 0px 3px 6px rgba(152, 152, 152, 0.2);
  top:0;
  z-index:100;
}

.menu{
  display:flex;
  
  align-items: center;
  justify-content: center;
  grid-row: 1;

  
  margin-right: 129px;

  padding-top: 1.2%;
  width:100%;
  column-gap:minmax(15px,53px);
  flex-wrap: wrap;
  grid-column: 6 / 17
}

.menu ul{
  justify-content: space-between;
  display: flex;
  padding-left: 0;
  gap:90px;
}

.menu ul li{
  list-style: none;
  display:inline;
  justify-content: space-between;
}

.logo{
  display: inline-block;
  width: 7.1%;
  margin-right: 110px;
  padding-left: 5%;
}

.categoria1 {
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  position:relative;
}

categoria1, a:hover{
  color:#28284A;
  opacity:100%;
}

.categoria2{
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  margin-right: 110px;
  position:relative;
}

categoria2, a:hover{
  color:#28284A;
  opacity:100%;
}

.busca{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.carrinho{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.perfil{
  display: inline-block;
  grid-row:1;
  width: 26px;
  background: none;
  border: none;
  margin-right: 5%;
}

/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria1::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria1:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}



/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria2::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria2:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}

/*CABOU O MENU*/

hr{
  color:#737373;
}

.cabecalho{
  width:hv;
  height:62px;
  padding-top: 138px;
  background-color: #A879EB;
}

.cabecalho_texto{
  display: flex;
  padding-top:8px;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  color: #FDFDFD;
  gap: 10%;
  font-size: 22px;
}

#cabecalho_produto{
  padding-right: 18%;
}

#cabecalho_total{
  padding-right: 7%;
}

.produtos_carrinho{
  display:flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left:14.5%;
}

.produtos_carrinho hr{
  width:84%;
}

.linha_info{
  display:flex;
  flex-direction:row;
  color:#28284A;
  margin-top:30px;
  padding:0%;
  gap:0;
}

.produto{
  display:flex;
  gap:20px;
  font-size:18px;
  color:#28284A;
  font-weight: 400;
  padding-right: 35px;
  padding-bottom: 20px;
}

.nome_produto_alinhamento{
  display:flex;
  flex-direction: column;
  gap:5px;
  width:380px;
}

.nome_produto{
  line-height: 32px;
}

.cabecalho_preco{
  font-size:20px;
  color:#28284A;
  font-weight: 600;
  padding-left: 5.7%;
}

.cabecalho_total{
  font-size:20px;
  color:#28284A;
  font-weight: 600;
  padding-left: 10%;
}


/*botão de alterar quantidade de produto*/
.botao_quantidade{
  display: flex;
  padding-left: 10.3%;
}

.wrapper{
  height: 40px;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FDFDFD;
  border-radius: 20px;
  border:2px solid #c1a6e8;
  color:#8854D3;
}

.wrapper span{
  width: 100%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  line-height:24px;
}
.wrapper span.num{
  font-size: 20px;
  border-right: 2px solid #c1a6e8;;
  border-left: 2px solid #c1a6e8;;
  pointer-events: none;
  padding-inline:5px;
  font-weight: 500;
}

.wrapper span.minus{
  transition: 0.1s ease-in;
  font-weight: 600;
}

.wrapper span.minus:active{
  font-size: 26px;
  font-weight: 700;
  transition: 0.1s ease-in;
}

.wrapper span.plus{
  transition: 0.1s ease-in;
  font-weight: 600;
}

.wrapper span.plus:active{
  font-size: 24px;
  font-weight: 700;
  transition: 0.1s ease-in;
}

.deletar{
  margin-left: 6.5%;
  width:20px;
  height: 25px;
  position:relative;
}

.icone_deletar{
  height: 25px;
}

.deletar_overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  opacity: 0;
  bottom:0;
  cursor:pointer;
  transition:opacity 0.1s ease-in-out;
}

.deletar_overlay:hover{
  opacity: 1;
  transition:opacity 0.1s ease-in-out;
}

.info_baixo{
  display:flex;
  flex-direction: row;
  margin-top:3%;
}

.cupoms{
  display: flex;
  flex-direction: column;
  font-size:20px;
  font-weight: 400;
  color:#737373;margin-left:14.5%;
}

.cupom_campo{
  padding-bottom:30px;
}

#cupom{
  padding-bottom:5px;
}

input[type=text]{
  width:215px;
  height:40px;
  border: 1px solid #737373;
  border-radius: 20px;
  padding: 0 25px;
  padding-top:4px;
  font-size:16px;
  box-sizing:border-box;
  outline-color:#737373;
}

input[type=text]:focus{
  outline-color:#737373 ;
  transition: ease-in-out;
}

.adicionar{
  width:128px;
  height:37px;
  border-radius: 17px;
  background-color:#9E9E9E;
  border:#9E9E9E;
  font-size:16px;
  color:#FDFDFD;
  font-weight: 500;
  margin-left:20px;
  cursor:pointer;
  transition:0.1s ease-in-out;
}

.adicionar:hover{
  background-color: #8854D3;
}

.adicionar:active{
  font-size:76%;
  transition:0.2s ease-in-out;
}

.texto_adicionar{
  padding-top:4px;
}

.escolher_produtos{
  display:flex;
  width:365px;
  height: 40px;
  border: 2px solid #8854D3;
  border-radius: 40px;
  background-color:#FDFDFD;
  justify-content: center;
  margin-top:40px;
  color:#8854D3;
  text-decoration: none;
  font-size:20px;
  padding-top:10px;
}

.escolher_produtos:hover{
  color:#FDFDFD;
  background-color:#8854D3;
  transition:0.2s ease-in-out;
}

.total_do_carrinho{
  margin-left:33%;
  color:#28284A;
}

#titulo_carrinho{
  font-weight: 600;
  font-size: 26px;
  padding-bottom:8px;
}

#subtotal{
  font-weight: 400;
  font-size: 20px;
  padding-bottom:2px;
}

#entrega{
  display:flex;
  font-weight: 400;
  font-size: 20px;
  padding-bottom:8px;
  gap:5px;
  align-items: center;
}

#a_calcular{
  color:#737373;
  font-size: 17px;
}

#total_carrinho{
  font-weight: 600;
  font-size: 24px;
  padding-top:20px;
  padding-bottom:12px;
}

/*calcular entrega*/

.entrega_calcular{
  padding-bottom:30px;
}

.entrega_calcular .input{
	border: 1px solid #737373;
	outline: none;
	color:#28284A;
  font-weight: 400;
}

.search_wrap{
	width: 395px;
}

.search_wrap .search_box{
	position: relative;
	width: 395px;
	height: 40px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 25px;
	border-radius: 50px;
	font-size: 15px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	background: #28284A;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #090944;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	color: #fdfdfd;
	font-size: 20px;
  transition:0.2s ease-in-out;
  
}

.search_wrap.search_wrap_6 .search_box .input{
	border-radius: 50px;
}


.search_wrap.search_wrap_6 .search_box .btn{
	width: 100px;
	height: 100%;
	border-radius: 50px;
	color: #fdfdfd;
  font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn{
	border-radius: 25px;
}

.search_wrap.search_wrap_6 .search_box .input{
	padding-right: 145px;
}

/*cabou a entrega*/

.finalizar_compra{
  display:flex;
  width:400px;
  height: 50px;
  border-radius: 40px;
  background-color:#8854D3;
  justify-content: center;
  color:#FDFDFD;
  text-decoration: none;
  font-size:23px;
  font-weight: 600;
  padding-top:14px;
}

.finalizar_compra:hover{
  color:#FDFDFD;
  background-color:#4b04ae;
  transition:0.2s ease-in-out;
}
