*{
  margin: 0;
  font-family: 'Hind Guntur', sans-serif;
}

html, body{
  background-color:#FDFDFD;
  width:100%;
}


ul li {
  text-decoration: none;
  list-style-type: none;
}

.menu_principal{
  background-color: #FDFDFD;
  height: 130px;
  width: 100%;
  position:fixed;
  
  display: grid, inline-block, center;
  grid-template-columns: repeat(22, minmax(0, 1fr));

  box-shadow: 0px 3px 6px rgba(152, 152, 152, 0.2);
  top:0;
  z-index:100;
}

.menu{
  display:flex;
  
  align-items: center;
  justify-content: center;
  grid-row: 1;

  
  margin-right: 129px;

  padding-top: 1.2%;
  width:100%;
  column-gap:minmax(15px,53px);
  flex-wrap: wrap;
  grid-column: 6 / 17
}

.menu ul{
  justify-content: space-between;
  display: flex;
  padding-left: 0;
  gap:90px;
}

.menu ul li{
  list-style: none;
  display:inline;
  justify-content: space-between;
}

.logo{
  display: inline-block;
  width: 7.1%;
  margin-right: 110px;
  padding-left: 5%;
}

.categoria1 {
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  position:relative;
}

categoria1, a:hover{
  color:#28284A;
  opacity:100%;
}

.categoria2{
  color: #7D7D7D;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 600;
  font-size: minmax(5px 16px);
  grid-row: 1;
  text-decoration: none;
  margin-right: 110px;
  position:relative;
}

categoria2, a:hover{
  color:#28284A;
  opacity:100%;
}

.busca{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.carrinho{
  display: inline-block;
  grid-row:1;
  width: 25px;
  background: none;
  border: none;
  padding-right: 76px;
  padding-top: 10px;
}

.perfil{
  display: inline-block;
  grid-row:1;
  width: 26px;
  background: none;
  border: none;
  margin-right: 5%;
}

/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria1::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria1:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}



/* animação da linhazinha quando vc coloca o mouse em uma categoria*/
.categoria2::before{
  content:"";
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 0%;
  transition: 0.2s ease-out;
}

.categoria2:hover::before{
  content:"";
  color:#28284A;
  background-color: #28284A;
  position:absolute;
  left:0;
  bottom:0;
  height: 3px;
  width: 100%;
  transition: 0.2s ease-out;
}

/*CABOU O MENU*/

.banner{
  margin-top:130px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 213px;
  width: 100%;
  background-image: url("banner.png");
  text-align: center;
  background-size: cover;
}

.banner p {
  position: absolute;
  justify-content: center;
  top: 100px;
  right: 190px;
  left: 190px;
  color: white;
  font-family: 'Hind Guntur';
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}


/* Carrossel */

p2 {
  font-family: 'Hind Guntur', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  top: 210px; 
  width: 448px;
  left: 130px;
}

body {
  height: 100vh;
  background-color: #FDFDFD;;
}

.titulo_secao{
  color: #28284A;
  font-weight: 600;
  font-size: 28px;
  margin-bottom:20px;
}

/***********************************
ARTISTAS CARROSSEL
************************************/

.nossos_artistas{
  margin-left:14%;
  margin-top:60px;
  margin-bottom:20px;
}

.artistas{
  margin-left: 13%;
  width: 74%;
  margin-top: 10px;
  margin-bottom: 4%;
  color: #28284A;
}

.swiper{
  height:200px;
}

.swiper-wrapper{
  padding-inline: 64px;
}

.story{
  margin-right:0px;
}

.story img{
  padding:4px;
  border-radius: 50%;
  width:150px;
  height:150px;
}

.user span{
  color: #28284A;
  font-weight: 400;
  font-size: 15px;
  padding-top:10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#artista1{
  margin-left:15px;
}

#artista2{
  margin-left:25px;
}

#artista3{
  margin-left:40px;
}

#artista4{
  margin-left:30px;
}

.swiper-button-next {
  color: #737373;
  box-shadow: 0px 0px 4px 2px rgba(139, 139, 139, 0.25);
  width:54px;
  height: 54px;
  font-size:20px;
}

.setas .swiper-button-next{
  color: #737373;
  background-color: #fdfdfd;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  padding: 6px;
  font-size: 27px;
  box-shadow: 0px 0px 4px 2px rgba(139, 139, 139, 0.25) opacity="0.7";
  top: 42%;
}

.setas .swiper-button-next::after{
  font-size: 27px;
  font-weight: 600;
  padding-left:4px;
}


.setas .swiper-button-prev{
  color: #737373;
  background-color: #fdfdfd;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  padding:6px;
  font-size:27px;
  box-shadow: 0px 0px 4px 2px rgba(139, 139, 139, 0.25) opacity=" 0.7";
  top: 42%;
}

.setas .swiper-button-prev::after{
  font-size: 27px;
  font-weight: 600;
  padding-left:4px;
}



/**********************
TODOS OS ARTISTAS
***********************/

.todos-artistas{
  margin-left: 14%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 90px;
  margin-top: 10px;
}

.filreira-artistas{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6%;
  height: 420px;
}

.cartao-artista{
  width: 273px;
  height: 361px;
  border-radius: 25px;
  position: relative;
}


.cartao-artista-items{
  position: absolute;
  top:0;
}

.cartao-artista-nome{
  margin-top: 20px;
  margin-left: 20px;
  color: #fdfdfd;
  font-weight: 600;
  font-size: 19px;
  text-shadow: 0px 1px 6px rgba(7, 0, 29, 0.8);
}

.cartao-artista-perfil{
  display: flex;
  margin-top: 220px;
  margin-left: 65px;
}


/* rodape*/

.rodape{
  width:100%;
  height: 1020px;
  margin-top: 7%;
  background-color: #FDFDFD;
}

.rodape-items{
  display:flex;
  flex-direction: column;
  padding-top:3%;
}

.rodape-cima{
  display:flex;
  justify-content: center;
}

.rodape-coluna1 {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  gap: 20px;
}

.rodape-coluna1 a{
  text-decoration: none;
  color: #28284A;
}

.rodape-coluna2 {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  gap: 20px;
  margin-inline: 22%;
}

.rodape-coluna2 a{
  text-decoration: none;
  color: #28284A;
}

#rodape-coluna-titulo{
  letter-spacing: 0.2em;
  font-weight: 500;
  color: #875EC3;
}

.ropade-coluna-texto{
  display:flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  color: #28284A;
  text-decoration: none;
  gap: 50px;
}

.coluna-contato-alinhar-item{
  display:flex;
  flex-direction: column;
}

#linha-rodape1{
  border-color: #F7ECFF;
  margin-top: 60px;
  margin-bottom: 60px;
}

.receba-por-email{
  display: flex;
  flex-direction: column;
  background-color: #F7ECFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#receba-promos-novidades{
  margin-left: 16.5%;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #4B04AE;
}

.cadastrar-rodape{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.cadastrar-rodape-digitar input[type=text]{
  width:420px;
  height:40px;
  border:0;
  border-bottom: 3px solid #875EC3;
  padding: 0 5px;
  padding-top:4px;
  font-size: 19px;
  box-sizing:border-box;
  outline:0;
  color: #58178A;
  background-color: #F7ECFF;
}

.cadastrar-rodape-digitar input::placeholder{
  color:#875EC3;
}

.cadastrar-rodape-botao{
  display: inline-block;
  background-color: #8854D3;
  color: #FDFDFD;
  font-weight: 600;
  text-decoration:none;
  width:250px;
  height: 66px;
  border-radius: 38px;
  font-size: 24px;
  text-align:center;
  line-height: 74px;
  transition: 0.15s ease-in-out;
}

.cadastrar-rodape-botao:active{
  background-color: #4B04AE;
  transition: 0.15s ease-in-out;
}

.cadastrar-rodape-botao:hover{
  color: #FDFDFD;
}

.redes-sociais-rodape{
  display:flex;
  gap:8%;
  margin-top: 3%;
  justify-content: center;
}

.redes-sociais-rodape img{
  width: 45px;
  height: 45px;
}

#linha-rodape2{
  border-color: #F7ECFF;
  margin-top: 60px;
  margin-bottom: 20px;
}

#copyright-rodape{
  color:#9363ca;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5%;
  margin-bottom: 20px;
}
